namespace sav.Views.Shared
{
  @model sav.Models.Employee

<h2>Confirmer la Suppression de l'Employé</h2>

<div>
    <h4>Êtes-vous sûr de vouloir supprimer cet employé ?</h4>
    <dl class="row">
        <dt class="col-sm-2">Nom</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Poste</dt>
        <dd class="col-sm-10">@Model.Position</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Téléphone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>
    </dl>

    <form asp-action="EmployeeDeleteConfirmed" method="post">
        <input type="hidden" asp-for="EmployeeId" />
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="@Url.Action("EmployeeIndex", "Admin")" class="btn btn-primary">Annuler</a>
    </form>
</div>

