@model sav.Models.Article

@{
    ViewData["Title"] = "Edit Article";
}

<h2>Edit Article</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label for="Category">Category</label>
        <input type="text" id="Category" name="Category" class="form-control" value="@Model.Category" required />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" id="Price" name="Price" class="form-control" value="@Model.Price" required  />
    </div>
    <div class="form-group">
        <label for="StockQuantity">Stock Quantity</label>
        <input type="number" id="StockQuantity" name="StockQuantity" class="form-control" value="@Model.StockQuantity" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
    </div>
    <input type="checkbox" id="IsUnderWarranty" name="IsUnderWarranty" value="true" @(Model.IsUnderWarranty ? "checked" : "") />
    

    <div class="form-group">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
